/* nav bar */

nav {
    background-color: aqua;
    text-align: center;
    padding: 0.25em;
}

nav ul li {
    backgound-color: red;
    display: inline;
    text-align: center;
}

nav li a {
    padding: 1em;
    color: #3E93EC;
    text-decoration: none;
    pading: 0.25em;
    font-weight: bold;
}

nav li a:hover{
    color: yellow;
    text-decoration: underline;
}

nav li a:visited{
    color: #7C0E09;
}

/* body */

body {
    background-color: gold;
}

a:link {
    color: #3E93EC;
    text-decoration: none;
}

a:hover {
    color: #3E93EC;
    text-decoration: underline;
}

a:visited {
    color: #7C0E09;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: Arial, sans-serif;
    float: right;
}

img {
    float: left;
}

.clear {
    clear: both;
}

#homepic {
    float: left;
}

#france1360 {
    float: left;
}

#france1389 {
    float: left;
}

#france1453 {
    float: left;
}
