/* nav bar */
nav {
    background-color: black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: .1em;
}

nav ul li {
    text-align: center;
    text-decoration: none;
    display: inline;
    background-color: black;
    margin-left: 5em;
}

nav a {

}

nav a:hover {
    background-color: gold;
    color: white;
    text-decoration: underline;
}

nav a:visited {
    color: #B500B5;
}

/* body */

body {
    background-color: maroon;
    color: white;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius:10px;
    background-color: navy;
    font-size: 32pt;
    font-weight: bolder;
    padding: .5em;
}

a {
    color: silver;
    text-decoration: none;
}

a:hover {
    background-color: gold;
    color: white;
    text-decoration: underline;
}

a:visited {
    color: #B500B5;
}

h1, h2, h3, h4, h5, h6, dt {
    color: grey;
    font-weight: bold;
}

img {
    height: 710px;
    width: 569px;
    borderu8: solid thick blue;
    margin-right: 10px;
    margin-top: 2.5px;
}

.clear {
    clear: both;
}

/* sections */

#homepic {
    float: left;
}

#france1360 {
    float: left;
}

#france1389 {
    float: left;
}

#france1453 {
    float: left;
}
